body, html {
filter: invert(100%);
}

.mdc-text-field{
ink-color: #B0BEC5;
}


.dark {color: #FFFFFF}

header,
footer {
	background-color: #252526;
}

.mdc-text-field-helper-text {
    color: white;
}

mdc-top-app-bar {
background-color: #152121;
}

mdc-theme--surface {
background-color: #152121;
}

.mdc-theme--primary {
    color: #252526;
} 
